* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
    overflow: auto;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3vw 1fr 1fr 1fr 1fr 1fr 1fr 3vw;
    grid-template-rows: repeat(4, auto);
}


/*.logo {
        grid-area: title;
    margin-top: 30px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: grey;
    height: 20vh;
}*/

.header {
    margin-top: 30px;
    grid-column: 2 / span 6;
    grid-row: 1 / 2;
    background-color: blue;
    height: 20vh;
}

.navigation {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
    background: orange;
}

.nav {
    list-style: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.nav li a {}

.icon {
    background-color: rgba(0, 0, 0, 0);
}

li {
    /*margin: 5% 0px;*/
    padding: 1%;
    text-align: center;
    vertical-align: middle;
}

a {
    color: black;
    text-decoration: none;
    padding: 1%;
    /*
    background-color: darkgreen;*/
    font-size: 2.2em;
    text-decoration: underline;
    vertical-align: middle;

}

.content {
    grid-column: 3 / 8;
    grid-row: 2 / 3;
    background: rebeccapurple;
    height: 60vh;
    overflow: auto;
}

.footer {
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    background-color: green;
    height: 10vh;
}


/*ipad*/
@media only screen and (max-width: 900px) {
    html {
        background-color: lightblue;
    }

    ul {
        display: block;
        width: 30%;
    }
}

/*phone*/

@media only screen and (max-width: 620px) {
    html {
        background-color: black;
    }

    ul {
        display: block;
        width: 30%;
    }

    .grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1vw 1fr 1fr 1vw;
        grid-template-rows: repeat(5, auto);

    }

    .header {
        margin-top: 30px;
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        background-color: blue;
    }

    .content {
        grid-column: 2/ 4;
        grid-row: 2 / 4;
        background: rebeccapurple;
        height: 50vh;
        overflow: auto;
    }

    .navigation {
        grid-column: 2 / 4;
        grid-row: 5 / 5;
        background: red;
        height: 7vh
    }

    .footer {
        grid-column: 2 / 4;
        grid-row: 6 / 6;
        background-color: green;
        height: 10vh;
    }


}
